%p{style: "color: green"}= notice

.links-back
= link_to links_path, class: "fa fa-sharp fa-solid fa-left-long"

= render @link

.delete-link
= link_to link_path(@link), method: :delete, class: "fa fa-solid fa-trash-can"
